*{
    margin: 0;
    justify-content: center;
}
.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: green;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    height: 50px;
    cursor: pointer;
    margin: 5px;
}

.added{
    color: green;
}
.grid-container {
    display: grid;
    grid-template: 150px / auto auto auto;
    grid-gap: 10px;
    background-color: white;
    padding: 10px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

#leagueName{
font-size: large;
    padding: 30px;
}